<!DOCTYPE html>
<html lang="en">
    <head> </head>
    <body>
        <div class="main-container">
            <%- include ("./headerIndex") %>
            <div class="clr-row">
                <div class="clr-col-12 clr-col-xl-3 controls">
                    <form class="clr-form" method="POST" action="">
                        <div class="clr-form-control">
                            <div class="clr-control-container">
                                <div class="select-container">
                                    <% if(basis) { %>
                                        <div class="grp-container">
                                            <div class="clr-select-wrapper">
                                                <select
                                                    name="state[basis]"
                                                    class="clr-select select-input"
                                                    id="select-basis"
                                                >
                                                    <% basis.forEach(b => { %>
                                                    <option value="<%= b.value %>">
                                                        <%= b.name %>
                                                    </option>
                                                    <% }); %>
                                                </select>
                                            </div>
                                    <% } %>
                                    </div>
                                    <div class="grp-container">
                                        <div class="clr-select-wrapper">
                                            <select
                                                name="state[act_grp]"
                                                class="clr-select select-input"
                                                id="select-act"
                                            >
                                                <% actGrps.forEach(actGrp => { %>
                                                <option value="<%= actGrp %>"><%= actGrp %></option>
                                                <% }); %>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="grp-container">
                                        <div class="clr-select-wrapper">
                                            <select
                                                name="state[grp]"
                                                class="clr-select select-input"
                                                id="select-grp"
                                            >
                                                <% grps.forEach(grp => { %>
                                                <option value="<%= grp %>"><%= grp %></option>
                                                <% }); %>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div id="select-all">
                                    <div class="clr-checkbox-wrapper">
                                        <input
                                            clrcheckbox=""
                                            type="checkbox"
                                            id="select-all-checks"
                                        />
                                        <label for="select-all-checks">Alle auswählen</label>
                                    </div>
                                    <div id="scrollbox">
                                        <div id="inner-scrollbox" class="clr-checkbox-wrapper">
                                            <ul id="check-sub-grp"></ul>
                                        </div>
                                    </div>
                                </div>
                                <div id="legend">
                                    <div id="back-bar-group">
                                        <span id="bar-back-icon-span">
                                            <svg id="back-bar-svg" height="16" width="32">
                                                <rect height="16" width="32" />
                                            </svg>
                                        </span>
                                        <span id="bar-back-label-span">
                                            <label id="back-bar-label">Summe ETR</label>
                                        </span>
                                    </div>
                                    <% if(page.includes('synops')) { %>
                                    <div class="line-icon">
                                        <svg height="15" width="50">
                                            <line id="threshold1" x1="0" y1="10" x2="50" y2="10" />
                                        </svg>
                                        <label class="line-label">Basisjahr</label>
                                    </div>
                                    <div class="line-icon">
                                        <svg height="15" width="50">
                                            <line id="threshold-8" x1="0" y1="10" x2="50" y2="10" />
                                        </svg>
                                        <label class="line-label">NAP Ziel 2018</label>
                                    </div>
                                    <div class="line-icon">
                                        <svg height="15" width="50">
                                            <line id="threshold-7" x1="0" y1="10" x2="50" y2="10" />
                                        </svg>
                                        <label class="line-label">NAP Ziel 2023</label>
                                    </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="clr-col-12 clr-col-xl-9">
                    <%if (charts.length === 2) { %> 
                    <div id="chart-view" class="tabcontent" style="position: relative; top: 40%;-webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);
                    ">
                    <% } else { %>
                    <div id="chart-view" class="tabcontent">
                    <% }  %>
                        <div class="clr-row" class="charts">
                            <% if (charts.length > 1){ charts.forEach(chart => { %>
                                <div
                                class="svg-container clr-col-lg-12 clr-col-xl-6"
                                id="<%= chart %>"
                            ></div>
                            <% })} else { %>
                                <div
                                class="svg-container clr-col-lg-12"
                                id="<%= charts[0] %>"
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
