<!DOCTYPE html>
<html lang="en">
    <head> </head>
    <body>
        <div class="main-container">
        <%- include ("./headerIndex") %>
        <% if(success.length > 0) { %>
            <cds-alert-group
            type="banner"
            status="success"
            aria-label="<%= success %>"
          >
            <cds-alert closable>
              <%= success %>
            </cds-alert>
          </cds-alert-group>
            <% } %>
            <div class="content-container">
                <div id="state-box">
                    <table class="table state-table">
                        <thead>
                            <tr>
                                <th class="fixed-head">Name</th>
                                <th class="fixed-head">Basis</th>
                                <th class="fixed-head">Gewichtung</th>
                                <th class="fixed-head">Pestizidgruppe</th>
                                <th class="fixed-head">Aggregation</th>
                                <th class="fixed-head">Untergruppen</th>
                                <th class="fixed-head">Datum</th>
                                <th class="fixed-head">Laden</th>
                                <th class="fixed-head">Löschen</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(typeof state !== 'undefined') { %> <% state.sort((a,b) => b.date - a.date) %> <% state.forEach(e => { %>
                            <tr>
                                <td class="state-td">
                                    <a class="state-href" href="chart/<%= e.base.replace(/\d+/g, '').replace('-', '') %>?id=<%= e.id %>"><%= e.stateName %></a>
                                </td>
                                <td class="state-td"><%= e.base %></td>
                                <td class="state-td"><%= e.weight %></td>
                                <td class="state-td"><%= e.act_grp %></td>
                                <td class="state-td"><%= e.grp %></td>
                                <td class="state-td">
                                    <%  if(e.sub_grp.length > 5) { %> 
                                    <div class="div-sub-grps div-sub-grps-long">
                                    <%} else { %> 
                                    <div class="div-sub-grps">
                                    <% } %> 
                                        <% e.sub_grp.sort() %> <% for (let i = 0; i <e.sub_grp.length; i++) { %> 
                                            <% if (i < 5) { %>
                                            <div class="sub-table"><%= e.sub_grp[i] %></div>
                                            <% } else { %>
                                            <div class="sub-table">...</div>
                                                <% break %> 
                                            <% } %>
                                        <% } %>
                                        <% e.sub_grp.forEach(e => { %>
                                            <div class="sub-table-show"><%= e %></div>
                                        <% }) %>    
                                    </div>
                                </td>
                                <% const options = { day: 'numeric', year: 'numeric', month: 'numeric', day: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false } %>
                                <td class="state-td">
                                    <%= e.date.toLocaleDateString('de-DE', options) %>
                                </td>
                                <td class="state-td">
                                    <a class="state-href" href="chart/<%= e.base.replace(/\d+/g, '').replace('-', '') %>?id=<%= e.id %>"
                                        ><cds-icon-button action="outline"><cds-icon shape="bar-chart"></cds-icon></cds-icon-button>
                                    </a>
                                </td>
                                <td class="state-td">
                                    <form
                                        action="state/<%=e.id%>?_method=DELETE"
                                        method="POST"
                                        class="td-form"
                                    >
                                    <cds-icon-button action="outline" status="danger"><cds-icon shape="trash" solid="true"></cds-icon></cds-icon-button>
                                    </form>
                                </td>
                            </tr>
                            <% })} %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
